	#nav { 
	 
	background-color: darkgreen; 
	height: 35px; 
	font-size: 25px; 
	font-weight:bold; 
	font:Tahoma; 
	 
	} 
	 
	#nav ul { 
	 
	padding: 0; 
	margin: 0; 
	list-style-type: none; 
	text-align: center; 	 
	} 
	 
	#nav li { 
	 
	display: inline; 
	padding:15px; 
	vertical-align:middle; 
	} 
	 
	#nav a { 
	 
	text-decoration:none; 
	padding: 8px 8px 8px 8px; 
	color: white; 
	vertical-align:middle 
	} 
	 
	#nav a:hover { 
	 
	color: black; 
	background-color:white; 
	}
